/* CSS Zen Garden */
/*This file is based on 'Tranquille' by Dave Shea*/
/*This file is also based on 'Springtime' by Boer Attila and
  'Zenfandel' by Nicholas Rouggeux*/

/*Basic Elements*/
html {
  margin: 0;
  padding:0;
}
/*Added basic Body elements including: font, line height, background image */
body {
  font-family: 'Lucinda Handwriting', cursive, sans-serif;
  font-size: 24px;
  color: #004F2E;
  line-height: 1.25;
  background-image: url("Spring_Grass.jpg");
  background-size: 1500px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*Added paragraph styling including: font, text align, color*/
p {
  font-size: 14px;
  font-family: sans-serif;
  text-align: left;
  margin: 0;
}
/*Added h3 styling including: font, letter spacing, color*/
h3 {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 1.25px;
  margin-bottom: 0;
  color: #009932;
}
/*Added link styling including: font, underline text, color */
a:link {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  color: #669933;
}
/*Added a:visited styling including: font, underline text, color*/
a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #CCCC33;
}
/*Added a:hover/focus/active styling including: underline text, color*/
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #FFCC33; 
}
/*Added abbr styling including: no bottom border*/
abbr {
  border-bottom: none;
}

/*End Basic Elements*/

/*Begin specific div*/

.page-wrapper {
  position: relative;
  margin:0;
  padding: 25px;
  
}
