/* CSS Zen Garden */
/*This file is based on 'Tranquille' by Dave Shea*/
/*This file is also based on 'Springtime' by Boer Attila and
  'Zenfandel' by Nicholas Rouggeux*/

/*Basic Elements*/
html {
  margin: 0;
  padding:0;
}
/*Added basic Body elements including: font, line height, background image */
body {
  font-family: 'Lucinda Handwriting', cursive, sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.25;
	/*Added gradient color to background*/
/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #6CABD6 20%, #406680 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #6CABD6 20%, #406680 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #6CABD6 20%, #406680 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20, #6CABD6), color-stop(100, #406680));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #6CABD6 20%, #406680 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #6CABD6 20%, #406680 100%);

	width: 1024px;
  margin: 0% 10% 0% 10%;
  padding: 0px;
	padding-bottom: 10px;
}
/*Added paragraph styling including: font, text align, color*/
p {
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
	line-height:1.5;
  margin: 0 0 20px 0;
	padding: 0px;
}
/*Added h3 styling including: font, letter spacing, color*/
h3 {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 1.25px;
  margin-bottom: 0;
  color: #FACB1E;
}
/*Added link styling including: font, underline text, color */
a:link {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: #9A1C39;
}
/*Added a:visited styling including: font, underline text, color*/
a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #BFD4D9;
}
/*Added a:hover/focus/active styling including: underline text, color*/
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #3C1E63; 
}
/*Added abbr styling including: no bottom border*/
abbr {
  border-bottom: none;
}

/*End Basic Elements*/

/*Begin specific div*/

/*Added page-wrapper position and margin */
.page-wrapper {
  position: relative;
  margin: 0px;
}
/*Added intro padding*/
.intro {
	padding: 0px;
}
/*Added header to include: bckgrnd image, bckgrnd color, height and border*/
header {
	background: url("Spring_Grass1.jpg");
	background-size: 1300px 300px;
	background-repeat: no-repeat;
	margin: 10px 0 10px 0;
	padding: 0px;
	position: relative;
}
/*Added h1/h2 styling including: text align, font sz, color, width, padding*/
header h1 {
	text-align: left;
	font-size: 36px;
	color: #5C4032;
	width: 312px;
	height: 50px;
	margin-left: 10px;
}

header h2 {
	text-align: left;
	text-indent: 20px;
	font-size: 22px;
	color: #5C4032;
	width: 312px;
	margin-left: 5px;
	
}

/*Add styling to summary including: clear, overflow text, width/height, margin, padding and positon*/
.summary {
	clear: both;
	width: 498px;
	position: absolute;
    left: 512px;
    top: 25px;
}
.summary p {
	color: #004F2E;
	margin-left: 8px;
	font-size: 15px;
	font-style: italic;
}
.summary a {
	text-align: left;
}

/*Added styling to preamble including: width, margin, positon, overflow, line-h  */
.preamble {
	padding: 20px;
	background-color: #76932F;
	text-align: justify;
}
.preamble h3 {
	color: #FACB1E;
	text-align: center;
	margin: 5px 0 5px 0;
}
.preamble p {
	color: white;
	display: inline;
}

/*Add styling to supporting text*/

/* Added style to .explanation -- width*/
.explanation {
	width: 49.2%;
}
/* Added style to .participation including width, height and position*/
.participation {
	width: 50.8%;
	height: 450px;
	position: absolute;
		top: 320px;
		left: 503px;
	background-color:  #76932F;
}
/* Added style to .benefits including width and bottom margin*/
.benefits {
	width: 48%;
	margin-bottom: 30px;
}
/* Added style to .requirements including columns, spanning h3, height and margins*/
.requirements {
	clear: both;
	column-count: 3;
	column-gap: 20px;
	height: 415px;
	margin-bottom: 5px;
	overflow: visible;
	background-color: #76932F;
}
.requirements h3 {
  column-span: all;
	margin-bottom: 5px;
}

/* End Zen-Summary*/

/* Begin footer*/

footer {
	clear: both;
	text-align: center;
	padding: 20px;
}
footer a:link {
	font-size: 18px;
}

/*End footer*/

/* Begin aside*/

/* Added style to sidebar including float, position, change list-style-type to none; */
.sidebar {
	margin: 0px;
	padding: 0px;
	
}
.sidebar .wrapper {
	margin: 0px;
	padding: 0px;
	background: #6CABD6;
	height: 375px;
}
.sidebar ul {
	margin: 0px;
	padding: 0px;
}
.sidebar li {
	list-style-type: none;
	padding: 10px;
	margin-bottom: 5px;
	width: 250px;
	height: 25px;
}
.sidebar li:hover {
	background-color: #FFE699;
}
.sidebar li a {
	display: inline;
	color: #76932F;
	text-decoration: underline;
}
.sidebar li a:hover {
	display: inline;
	text-decoration: underline;
}
.sidebar li a:active {
	color: #0099FF;
}
.sidebar li a.design-name {
	display: inline;
	color: #76932F;
	margin-left: 0px;
}
.sidebar li a.designer-name {
	display: inline;
}

/*Begin styling design-selection including column count, column span*/

.design-selection {
	column-count: 4;
	column-gap: 5px;
}
.design-selection h3 {
	column-span: all;
	margin-bottom: 5px;
}

/*Begin styling design-archives including column-count, column span, display*/
.design-archives {
	column-count: 2;
	column-gap: 5px;
}
.design-archives h3 {
	column-span: all;
	margin-bottom: 5px;
}
.design-archives li {
	display: inline;
	width: 30px;
	height: 20px;
}
.design-archives li a {
	width: 30px;
	height: 20px;
}

/*Begin styling zen-resources including column-count, column-span, margins*/
.zen-resources {
	column-count: 5;
	column-gap: 5px;	
}

.zen-resources h3 {
	column-span: all;
	margin-bottom: 5px;
}

/*End styling of body*/

/*End CSS Stylesheet*/






