/* CSS Zen Garden */
/*This file is based on 'Tranquille' by Dave Shea*/
/*This file is also based on 'Springtime' by Boer Attila and
  'Zenfandel' by Nicholas Rouggeux*/

/*Basic Elements*/
html {
  margin: 0;
  padding:0;
}
/*Added basic Body elements including: font, line height, background image */
body {
  font-family: 'Lucinda Handwriting', cursive, sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.25;
	background-color: #6CABD6;
  margin: 0px;
  padding: 0px;
	padding-bottom: 10px;
}
/*Added paragraph styling including: font, text align, color*/
p {
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
	line-height:1.5;
  margin: 0px;
	padding: 0px;
}
/*Added h3 styling including: font, letter spacing, color*/
h3 {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 1.25px;
  margin-bottom: 0;
  color: #009932;
}
/*Added link styling including: font, underline text, color */
a:link {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  color: #9A1C39;
}
/*Added a:visited styling including: font, underline text, color*/
a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #BFD4D9;
}
/*Added a:hover/focus/active styling including: underline text, color*/
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #3C1E63; 
}
/*Added abbr styling including: no bottom border*/
abbr {
  border-bottom: none;
}

/*End Basic Elements*/

/*Begin specific div*/

/*Added page-wrapper position and margin */
.page-wrapper {
  position: relative;
  margin: 0px;
}
/*Added intro padding*/
.intro {
	padding: 0px;
}
/*Added header to include: bckgrnd image, bckgrnd color, height and border*/
header {
	background: url("cottage.jpg")  no-repeat top right;
	background-color: #76932F;
	height: 717px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid white;
	position: relative;
}
/*Added h1/h2 styling including: text align, font sz, color, widht, padding*/
header h1 {
	text-align: left;
	font-size: 36px;
	color: #5C4032;
	width: 312px;
	height: 50px;
	margin: 0px;
	padding-top: 80px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
}

header h2 {
	text-align: left;
	text-indent: 20px;
	font-size: 22px;
	color: #5C4032;
	width: 312px;
	margin: 0px;
	padding-left: 5px;
}

/*Add styling to summary including: clear, overflow text, w&h, margin, padding and positon*/
.summary {
	clear: both;
	overflow: auto;
	width: 225px;
	height: 175px;
	margin-left: 20px;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	top: 213px;
}
.summary p {
	color: #FACB1E;
	font-size: 14px;
}
.summary a {
	text-align: left;
}

/*Added styling to preamble including: width, margin, positon, overflow, line-h  */
.preamble {
	margin-left: 0px;
	margin-top: 0;
	margin-right: 60%;
	margin-bottom: 0;
	padding: 5px;
	border: 1px solid white;
	background-color: #76932F;
}
.preamble h3 {
	color: #FACB1E;
	text-align: center;
}
.preamble p {
	color: white;
	text-align: left;
	margin: 2px;
}

/*Add styling to supporting text*/

main supporting, {
	margin-left: 0px;
	margin-top: 0;
	margin-right: 60%;
	margin-bottom: 0;
	padding: 5px;
	border: 1px solid white;
	background-color: #76932F;
	color: white;
}
.supporting h3 {
	
	
}













